Flask==3.1.0
Flask_Cors==5.0.0
nest_asyncio==1.6.0
pyppeteer==2.0.0
python-dotenv==1.1.0
Requests==2.32.3
---
Flask==3.1.0
Flask-Cors==5.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.19.0
google-api-python-client==2.160.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
google-generativeai==0.8.4
googleapis-common-protos==1.63.1
nest_asyncio==1.6.0
pyppeteer==2.0.0
python-dotenv==1.1.0
Requests==2.32.3
